<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/home_z/recommendation.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="box">
      <img src="/images/home_z/1.jpg">
      <span>赛博朋克2077</span>
    </div>
    <div class="box">
      <img src="/images/home_z/2.jpg">
      <span>巫师 3：狂猎</span>
    </div>
    <div class="box">
      <img src="/images/home_z/3.jpg">
      <span>艾尔登法环</span>
    </div>
  </div>
  </div>
</body>

</html>