<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>消费历史记录</title>
    <link rel="stylesheet" href="/stylesheets/font.css">
    <link rel="stylesheet" href="/stylesheets/order_set/order_set.css"></link>">
</head>
<body>
    <div class="container">
        <h1>"用户名"的消费历史记录</h1>
        <p>交易出现问题？在下方选择出现问题的交易以获取帮助。</p>
        <table>
            <thead>
                <tr>
                    <th>日期</th>
                    <th>物品</th>
                    <th>状态</th>
                    <th>总计</th>
                    <th>钱包</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2024 年 12 月 3 日</td>
                    <td>Kingdom Come: Deliverance Royal Edition</td>
                    <td>退款处理中</td>
                    <td>¥ 14.80</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2024 年 11 月 30 日</td>
                    <td>To The Moon</td>
                    <td>退款成功</td>
                    <td>¥ 9.75</td>
                    <td></td>
                </tr>
                <!-- 其他记录按需添加 -->
            </tbody>
        </table>
    </div>
</body>
</html>