/* font.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.button-container {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    position: relative;
    bottom : -60px;
}

.button-container h2{
    font-family: inherit;
    font-weight: 700;
    color: #222;
}

