<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/Game_classify/classify_right.css">
</head>
<body>
    <div class="input">
        <% classify_right.forEach(function(item){ %>
            <form action="/classify_left" method="get">
                <input type="hidden" name="classify_left" value="<%= item.game_label %>">
                <button type="submit" class="value">
                    <%= item.game_label %>
                </button>
            </form>
        <%  }) %>
    </div>
</body>
</html>