<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/Refund_slip/Refund_slip.css">
</head>
<body>
    <div class="form-container">
        <form class="form">
          <div class="form-group">
            <label for="email">退款原因</label>
            <input type="text" id="email" name="email" required="">
          </div>
          <div class="form-group">
            <label for="textarea">具体原因</label>
            <textarea name="textarea" id="textarea" rows="10" cols="50" required="">          </textarea>
          </div>
          <button class="form-submit-btn" type="submit">提交</button>
        </form>
      </div>
</body>
</html>